body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(32, 33, 35, 1);
}

.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(52,53,65, 800);
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    color: white;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details {
    display: inline-block;
}

.change-password {
    margin-top: 20px;
}

.change-password label {
    display: block;
    margin-bottom: 5px;
}

.change-password input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.change-password button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.change-password button:hover {
    background-color: #0056b3;
}
