
body {
    background-color: rgba(32, 33, 35, 1);
}

.horizontal-bar {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    color: white;
    margin-left: -15px;
    margin-right: -15px;
}

.horizontal-bar:nth-child(even) {
    background-color: rgba(52,53,65, 800);
}

.horizontal-bar:nth-child(odd) {
    background-color: rgba(32, 33, 35, 0.5);
}

.bar-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}